body {
	font-size:16px;
	font-family: 'Muli', sans-serif;
	margin:0;
	padding:0;
	line-height:200%;
		@include media($tablet){
			font-size:14px;
		}
}

main {
	padding:0;
	margin:0;
	@extend %tran-slow;
}

h1,h2,h3,h4,h5,h6 {
	margin:0 0 20px 0;
	line-height:120%;
	font-weight:300;
}

.wrs-button {
	@extend %tran;
	padding:10px 15px;
	background:$light-blue;
	color:#fff;
	text-decoration:none;
	line-height:100%;
		&:hover {
			filter:blur(0.05em);
		}
}

.bg-white {
	background:#fff;
}

.bg-light-blue {
	background:$light-blue;
}

.bg-red {
	background:$red;
}

.bg-light-green {
	background:$light-green;
}

.bg-light-purple {
	background:$light-purple;
}

.bg-very-light-grey {
	background: $very-light-grey;
}

.bg-light-grey {
	background:$light-grey;
}

.bg-medium-grey {
	background:$medium-grey;
}

.bg-dark-grey {
	background:$dark-grey;
}

.bg-very-dark-grey {
	background:$very-dark-grey;
}

.bg-move {
	background-size: calc(100% + 200px);
	background-position:center;
	background-repeat:no-repeat;
}

.no-cssfilters {
	.wrs-button {
		&:hover {
			opacity:0.4;
		}
	}
}

.outer-container {
	@include outer-container(1200px);
}