#home_section-2 {
	background: $very-light-grey;
}

.home_section-2_container {
	@include outer-container(800px);
	@extend %vertical-padding-large;
	@extend %horizontal-padding-large;
	text-align:center;
		h1,h2,h3,h4,h5,h6 {
			font-size:2em;
			margin-bottom:40px;
		}
}

#home_call-to-action-sections {
	.outer-container {
		position:relative;
		display:flex;
		flex-wrap:wrap;
	}
	h1,h2,h3,h4,h5,h6 {
		font-size:2em;
	}
	p {
		font-size:1.30em;
		margin-bottom:25px;
	}
	.image-container, .body {
		position:relative;
	}
	.image-container {
		@extend %vertical-padding-large;
		@extend %horizontal-padding-large;
		@include span-columns(5);
		@include media($tablet){
			@include span-columns(10);
			padding-top:0;
		}
		img {
			display:block;
			margin:0 auto;
			max-height:440px;
			max-width:100%;
		}
	}
	.body {
		@include span-columns(5);
		@include media($tablet){
			@include span-columns(10 of 10);
		}
		.inner-body {
			@extend %vertical-padding-large;
			@extend %horizontal-padding-large;
			position:absolute;
			top:50%;
			left:0;
			transform:translatey(-50%);
			max-width:450px;
				@include media($tablet){
					position:relative;
					top:0;
					transform:translate(0);
					text-align:center;
					margin:0 auto;
				}
		}
	}
	.home_section {
		&:nth-of-type(even){
			.body {
				@include shift(5 of 10);
					@include media($tablet){
						@include shift(0);
					}
					.inner-body {
						left:auto;
						right:0;
					}
			}
			.image-container {
				@include shift(-10 of 10);
					@include media($tablet){
						@include shift(0);
					}
			}
		}
	}
}

#taste-of-design {
	@extend %vertical-padding-extra-large;
	background:#fff;
	text-align:center;
	h1,h2,h3,h4,h5,h6 {
		font-size: 2em;
		margin-bottom:40px;
	}
		.inner {
			@extend %horizontal-padding-large;
			position:relative;
			display:inline-block;
				img {
					position:absolute;
					left:-125px;
					top:-50px;
						@include media($tablet){
							position:relative;
							left:0;
							top:0;
							margin-bottom:20px;
						}
				}
		}
}